.game-logo {

}

#start-game-button {
  border: 0;
  box-shadow: 0;
  background: linear-gradient(to bottom, #9DA400, #BAC600);
  color: #fff;
  padding: 20px 40px;
  font-size: 30px;
  border-radius: 5px;
}

#canvasContainer{
  position: relative;
}

#hangman {
  position: relative;
  text-align: center;
  border: black 1px solid;
}

#winner {
  display: none;
  position: absolute;
  left: 30%;
}

#loser {
  display: none;
  position: absolute;
  top: 35%;
  left: 35%;
}